html {
    position: relative;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: rgba(255,255,255,0.8);
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(6,87,173);
    background: linear-gradient(90deg, rgba(6,87,173,1) 39%, rgba(0,212,255,1) 92%);
    
}
h1 {
    font-weight: 800;
    font-size: 2.5rem;
    margin: 10px;
}
header {
    width: 100%;
}
main {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#totalJobs {
    margin-top: 15px;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: underline;
}

#info-box #info {
    display: none;
}
#info-box {
    color:burlywood;
    position:relative;
    font-size: 1.1rem;
    margin-bottom: 35px;
    margin-top: 5px;
    font-weight: 600;
}

#info-box:hover #info, #info-box:active #info {
    display: block;
    width: 350px;
    background-color:azure;
    top: 100px;
    left: -50px;
    font-size: 0.9rem;
    color: black;
    word-wrap: break-word;
    border-radius: 10px;
    padding:10px;
    opacity: 0.9;
}
label {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top:35px;
}

input {
    margin-top: 5px;
    height: 35px;
    width: 350px; 
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}
button {
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    width: 250px;
    height: 35px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 15px;
    background-color: blueviolet;
}
#resultData {
    margin-top: 45px;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
}
table {
    margin-top: 45px;
    font-size: 1.3rem;
    margin-bottom: 25px;
}
table tr th {
    font-weight: bold;
    font-size: 1.5rem;
    background-color:blueviolet;
}
table tr td {
    font-size: 1.1rem;
}
table tr th, table tr td  {
    border: 2px solid black;
    padding: 10px;
}